//allways import the original file from the core.
@import "/usr/share/foreman/app/assets/stylesheets/login.scss";

.login-page {
  background: $primary_color;
  background-size: auto;
  color: #fff;
}
